body {
    font-family: system-ui;
    background: #f0d906;
    color: white;
    text-align: center;
  }

  .btn{
    padding: 20px;
    width: 70px;
    color: white;
    background-color: rgb(1, 10, 1);
    border: 5px solid rgb(83, 83, 83);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: absolute;
    font-size: large;
    top: 200px;
    left: 550px;
  }
  .btn2{
    padding: 20px;
    width: 70px;
    color: white;
    background-color: rgb(1, 10, 1);
    border: 5px solid rgb(83, 83, 83);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: absolute;
    font-size: large;
    top: 200px;
    left: 800px;
  }